absl-py
aiohappyeyeballs
aiohttp
aiosignal
alabaster
altair
annotated-doc
annotated-types
anyio
anywidget
appnope
argon2-cffi
argon2-cffi-bindings
arro3-core
arrow
asttokens
async-lru
attrs
autograd
babel
beartype
beautifulsoup4
bigraph-schema
biopython
bleach
cachetools
certifi
cffi
chardet
charset-normalizer
choreographer
clarabel
click
colorama
comm
contourpy
coverage
cryptography
cvxpy
cycler
debugpy
decorator
defusedxml
deptry
dill
distlib
distro
dnspython
docutils
drawdata
duckdb
ecos
elementpath
executing
fastapi
fastjsonschema
filelock
fire
flexcache
flexparser
fonttools
fqdn
frozenlist
fsspec
future
gcsfs
genai-prices
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-cloud-storage-control
google-crc32c
google-resumable-media
googleapis-common-protos
griffelib
grpc-google-iam-v1
grpcio
grpcio-status
h11
h5netcdf
highspy
httpcore
httpx
id
idna
imageio
imageio-ffmpeg
imagesize
immutabledict
importlib-metadata
iniconfig
ipdb
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
iteround
itsdangerous
jaraco-classes
jaraco-context
jaraco-functools
jedi
jinja2
jiter
joblib
json5
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kaleido
keyring
kiwisolver
lark
lark-parser
lazy-loader
librt
line-profiler
llvmlite
logfire-api
logistro
loro
lxml
marimo
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mido
mistune
more-itertools
mpmath
msgpack
msgspec
multidict
multiprocess
music21
mypy
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nh3
notebook
notebook-shim
numba
numpy
numpy-typing-compat
oauthlib
openai
opentelemetry-api
optype
orjson
ortools
osqp
packaging
pandas
pandocfilters
parsimonious
parso
partitura
pathspec
patsy
pexpect
pillow
pint
platformdirs
plotly
pluggy
plum-dispatch
polars
polars-runtime-32
process-bigraph
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
psygnal
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-ai-slim
pydantic-core
pydantic-graph
pydmd
pygments
pymdown-extensions
pymongo
pymunk
pynndescent
pyparsing
pyproject-api
pyswarms
pytest
pytest-asyncio
pytest-cov
pytest-timeout
python-dateutil
python-discovery
python-dotenv
python-json-logger
pytuq
pyyaml
pyzmq
ray
readme-renderer
referencing
regex
requests
requests-oauthlib
requests-toolbelt
requirements-parser
rfc3339-validator
rfc3986
rfc3986-validator
rfc3987-syntax
rich
roman-numerals
rpds-py
ruff
salib
scikit-image
scikit-learn
scipy
scipy-stubs
scs
seaborn
send2trash
setuptools
shellingham
simplejson
six
sniffio
snowballstemmer
sobol
sounddevice
soundfile
soupsieve
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlglot
sqlglotc
stack-data
starlette
statsmodels
stochastic-arrow
swiglpk
sympy
tensorboardx
termcolor
terminado
threadpoolctl
tifffile
tiktoken
tinycss2
tomli
tomli-w
tomlkit
torch
tornado
tox
tqdm
traitlets
twine
typer
typing-extensions
typing-inspection
tzdata
umap-learn
unum
-e file:///Users/alexanderpatrie/sms/uqEcoli
uqinn
uqpy
uri-template
urllib3
uv
uvicorn
-e file:///Users/alexanderpatrie/sms/vEcoli
vegafusion
virtualenv
vivarium-core
vl-convert-python
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
wigglystuff
xarray
xmlschema
xmltodict
yarl
zipp
